<!DOCTYPE html>
<html>
<head>
    <title>Bison Advisor AI Assistant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% extends "base-student.html" %}
    {% block title %}Course Search{% endblock %}
    {% block content %}
</head>
<body>
    <h1>Bison Advisor AI Assistant</h1>
    <iframe src="https://bisonadvisor-mggczambhmgavuwfatao4a.streamlit.app/" width="800" height="600"></iframe>
</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
</html>