<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Resource Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% extends "base-student.html" %}
    {% block title %}Course Search{% endblock %}
    {% block content %}
</head>

<body>
    <div class="container mt-5">
        <h2 class="mb-4">Resource Library</h2>

        <div class="card-deck">
            <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Graduation Checklist</h5>
                    <p class="card-text">View requirements to graduate</p>
                    <a href="https://howardu.sharepoint.com/:x:/s/CSAdvising/EejMOCNfuFxBmlByXk5QrMgBvXy1oK9UcmdKtB6DoOSMGw?e=hkMA5z" class="btn btn-primary">View</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Computer Science Handbook</h5>
                    <p class="card-text">Access university policies and procedures.</p>
                    <a href="https://cea.howard.edu/sites/cea.howard.edu/files/2021-01/CS_Undergraduate_Handbook_2016_v1.doc%20-%20CS_Undergraduate_Handbook_2018.pdf" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Academic Calendar</h5>
                    <a href="https://howard.edu/sites/home.howard.edu/files/2023-07/2023-2024%20Academic%20Calendar%207.13.23.pdf" class="btn btn-primary">View</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Available Courses</h5>
                    <a href="https://ssb-prod.ec.howard.edu/PROD/bwckschd.p_disp_dyn_sched" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="mb-4">Resources</h2>

        <div class="card-deck">
            <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Graduation Checklist</h5>
                    <p class="card-text">View requirements to graduate</p>
                    <a href="https://howardu.sharepoint.com/:x:/s/CSAdvising/EejMOCNfuFxBmlByXk5QrMgBvXy1oK9UcmdKtB6DoOSMGw?e=hkMA5z" class="btn btn-primary">View</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Computer Science Handbook</h5>
                    <p class="card-text">Access university policies and procedures.</p>
                    <a href="https://cea.howard.edu/sites/cea.howard.edu/files/2021-01/CS_Undergraduate_Handbook_2016_v1.doc%20-%20CS_Undergraduate_Handbook_2018.pdf" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Academic Calendar</h5>
                    <a href="https://howard.edu/sites/home.howard.edu/files/2023-07/2023-2024%20Academic%20Calendar%207.13.23.pdf" class="btn btn-primary">View</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Available Courses</h5>
                    <a href="https://ssb-prod.ec.howard.edu/PROD/bwckschd.p_disp_dyn_sched" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>

    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}

</html>
